<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="class-card">
  <template>
      
      
    <style>
      :host {
        display: block;
      }
        paper-card, h4{
            font-family: var(--paper-font-common-base);
        }
        h4{
            @apply --paper-font-headline;
            margin: 2% 2% 0 2%;
            padding: 1%;
            background-color: var(--google-red-500);
            color: var(--paper-grey-50);
            font-size: 120%;
        }
    </style>
      

    <paper-card image="res/class-card.jpg">
        
        <div class="card-header">
            <h4>The Class: Advanced Topics in Computer Sceince</h4>
        </div>
        
      <div class="card-content">
        <p>It's a great class in which you learn many subjects of computer science such as web development, terminals, and many cool other things. </p>
      </div>
    </paper-card>
   </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ClassCard extends Polymer.Element {
      static get is() { return 'class-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'class-card'
          }
        };
      }
    }

    window.customElements.define(ClassCard.is, ClassCard);
  </script>
</dom-module>
