<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="teacher-card.html">
<link rel="import" href="class-card.html">
<link rel="import" href="general-card.html">

<dom-module id="class-bio-app">
  <template> 
      
      
    <style>
      :host {
        display: block;
      }
        app-header{
            @apply --paper-font-headline;
            background-color: var(--paper-teal-200);
            color: var(--paper-grey-50);
        }
    </style>
      
      
    <app-header>
        <app-toolbar>The New Class: ATCS</app-toolbar>  
    </app-header>
    
      <hr/>
      
      <class-card></class-card>
    
      <br/>
      
    <teacher-card></teacher-card>  
      
      
    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ClassBioApp extends Polymer.Element {
      static get is() { return 'class-bio-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'class-bio-app'
          }
        };
      }
    }

    window.customElements.define(ClassBioApp.is, ClassBioApp);
  </script>
</dom-module>
