<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="teacher-card">
  <template>
      
      
    <style>
      :host {
        display: block;
      }
        paper-card{
            font-family: var(--paper-font-common-base);
        }
        
        h4{
            @apply --paper-font-headline;
            margin: 2% 2% 0 2%;
            padding: 1%;
            background-color: var(--google-red-500);
            color: var(--paper-grey-50);
            font-size: 120%;
        }
    </style>
      
    <paper-card image="res/b-frisch.png">
        <div class="card-header">
            <h4>The Teacher: Blade Frisch</h4>
        </div>
      <div class="card-content">
        <p>Mr Frisch is a great teacher. Everyone loves him. He's understanding and chill. How can you say no to that cute face?</p>
      </div>
    </paper-card>
   </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TeacherCard extends Polymer.Element {
      static get is() { return 'teacher-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'teacher-card'
          }
        };
      }
    }

    window.customElements.define(TeacherCard.is, TeacherCard);
  </script>
</dom-module>
